<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plant Classification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Upload a Plant Image for Classification</h1>
    <form action="/predict" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*" required>
        <img src="{{ image }}" alt="">
        <input type="submit" value="Predict">
    </form>

    {% if result %}
    <h2>Prediction Result:</h2>
    <p>{{ result }}</p>
    {% endif %}
</body>
</html>
